{% extends 'base.html' %}
<!---->
{% block title %}
    รายชื่อพนักงาน
{% endblock title %}
<!---->
{% block Content %}
{{message}}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ชื่อ</th>
        <th scope="col">นามสกุล</th>
        <th scope="col">เพศ</th>
        <th scope="col">อายุ</th>
        <th scope="col">ระดับการศึกษา</th>
        <th scope="col">แผนกงานที่สังกัด</th>
        
      </tr>
      
      {% for i in departments %}
      <tr>
        <th scope="row">{{ i.name }}</th>
        <td>{{ i.l_name }}</td>
        <td>{{ i.gender }}</td>
        <td>{{ i.age }}</td>
        <td>{{ i.qualification }}</td>
        <td>{{ i.department }}</td>


        
      </tr>
      {% endfor %}

    </thead>
    <tbody>
      
    </tbody>
  </table>
{% endblock Content %}