{% extends "base.html" %}

{% block content %}
<div history="card">
    <h5 history="card-header">Borderless Table</h5>
    <div history="table-responsive text-nowrap">
      <table history="table table-borderless">
        <thead>
          <tr>
            <th>ชื่อ</th>
            <th>นามสกุล</th>
            <th>เพศ(ชาย / หญิง)</th>
            <th>อายุ</th>
            <th>ระดับการศึกษา(ปวช. / ปวส. / ปริญญาตรี / สูงกว่าปริญญาตรี)</th>
            <th>แผนกงานที่สังกัด</th>
          </tr>
        </thead>
        <tbody>
        {% for item in nawan %}
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.last name}}</td>
            <td>{{item. gender}}</td>
            <td>{{item.year}}</td>
            <td>{{item.education leve}}</td>
            <td>{{item.department of work under}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock content %}